## Core latex/pdflatex auxiliary files:
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.synctex.gz(busy)
*.brf
*-blx.bib
*.run.xml
*.Rhistory
*.pyc

# .NET artifacts
bin
obj

# Visual Studio Code
.vscode

# Visual Studio
.vs

# Python
__pycache__
*.egg-info/

# Hydra
outputs/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Ptah
.ptah/
.build/

