[submodule "2018/2018-11-07-spark/docker-spark"]
	path = 2018/2018-11-07-spark/docker-spark
	url = https://github.com/gettyimages/docker-spark.git
	# Follow https://stackoverflow.com/a/5542452
	ignore = dirty
