## Core latex/pdflatex auxiliary files:
*.aux
*.log
*.out
*.toc

## Intermediate documents:
*.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.blg


## Build tool auxiliary files:
*.synctex.gz
*.synctex.gz(busy)

## Auxiliary and intermediate files from other packages:

# hyperref
*.brf
